html {
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
    font-size: 16px;
    padding: 10px;
    margin: 0 auto;
}



header {
    background-color: rgb(241, 241, 241);
    border-width: 6px;
    border-style:ridge;
    padding: 4px;
    text-align: center;
}

.picture, .about-sylvia-kristal, .movies {
    border: 2px solid black;
    padding: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.picture {
    text-align: center;
}

.picture img {
    object-fit: fill;
    width: 100%;
    height: auto;
}

table {
    margin: 0 auto;
    border-spacing: 20px;
    text-align: center;
}

td {
    background-color:cornsilk;
    padding: 4px;
    border: 4px ridge;
    border-color: bisque;
}

td img {
    width: auto;
    height: 300px;
}